<header class="section spot-color-primary">
    <div class="section__inner">
        <div class="wrapper flow region center" style="--measure: 40ch">
            <h2>Für ein kostenloses Vorgespräch rufen Sie mich gerne an!</h2>
            <p>
                <a href="tel:{{ meta.address.mobileCall }}">{{ meta.address.mobileDisplay }}</a>
            </p>
            <p>
                <a href="mailto:{{ meta.address.email }}">{{ meta.address.email }}</a>
            </p>
        </div>
    </div>
</header>
